* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

a {
  color:royalblue;
}

input, button {
  padding: .3rem .2rem;
  margin: .1rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.4rem;
}